
a:visited {
    color: black; 
} 

a:hover {
    color: gray; 
}

.logotype {
	width: 190px; 
	height: 100px;
}

hr {
	width: 800px;
}
.section {
	font-size: 17px;
}

h2, h3, h4 {
	color: black;
	text-shadow: rgba(36, 113, 163, 0.5) 2px 5px;

}

.bold {
	font-weight: bold;
	text-indent: 10px;
}

.important {
	color: red;
}

body {
	margin: 0 auto;
	padding-left: 10%;
	padding-right: 10%;
	font-family: Hind, sans-serif;
	width-max: 1200px;
}

header {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
	display: grid;
	padding: 10px 0 0;
	font-size: 14px;
}

nav ul {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.logo img{
	margin: -25px 0 0;
}

li {
	list-style: none;
	
}

li a{
	text-decoration: none;
	color: black;
}

footer  {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

footer li {
	font-size: 17px;
	padding: 10px;
	text-decoration: underline;
	margin-left: 30px;
}

#bottom-element {
	text-align: right;
	text-decoration: none;
}

@media screen and (max-width: 2000px) {
	.logo {
		width: 130px;
		height: 70px;
	}

	body {
		margin: 0 auto;
		padding-left: 5%;
		padding-right: 40%;
	}
	
	nav li {
		margin-left: -300px ;
	}
}

@media screen and (max-width: 1600px) {
	.logo {
		width: 130px;
		height: 70px;
	}

	body {
		margin: 0 auto;
		padding-left: 5%;
		padding-right: 40%;
	}
	
	nav li {
		margin-left: -100px ;
	}
}

@media screen and (max-width: 1205px) {
	.logo {
		width: 130px;
		height: 70px;
	}

	body {
		margin: 0 auto;
		padding-left: 5%;
		padding-right: 50%;
	}
	
	nav li {
		margin-left: 20px ;
	}
}

@media screen and (max-width: 1000px) {
	.logo {
		width: 130px;
		height: 70px;
	}

	body {
		margin: 0 auto;
		padding-left: 5%;
		padding-right: 40%;
	}
	
	nav li {
		margin-left: 20px ;
	}

	@media screen and (max-width: 900px) {
		.logo {
			width: 130px;
			height: 70px;
		}
	
		body {
			margin: 0 auto;
			padding-left: 5%;
			padding-right: 40%;
		}
		
		nav li {
			margin-left: 5px ;
		}

		p {
			font-size: 35px;
		}

		h2, h3, h4 {
			font-size: 40px;
		}
	}

	@media screen and (max-width: 650px) {
		.logo {
			width: 130px;
			height: 70px;
		}
	
		body {
			margin: 0 auto;
			padding-left: 10%;
			padding-right: 25%;
		}
		
		nav li {
			display: none;
		}

		p {
			font-size: 35px;
		}

		h2, h3, h4 {
			font-size: 40px;
		}
	}